<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
</head>
<body>
    <h1>書籍一覧</h1>
    <h2>今月の新着</h2>
    {% if book == [] %}
        <p>まだないよん</p>
    {% else %}
      {% for book in books %}
        <p>タイトル: {{ book.title}} </p>
        <p>金額: {{ book.price}} </p>
        <p>入荷日: {{ book.arrival_day}} </p>
      {% endfor %}
    {% endif %}

    <a href=" {{ url_for('form')}} ">編集</a>
</body>
</html>